@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Proxima Nova";
  src: url("/assets/fonts/font-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/assets/fonts/font-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

#root {
  max-width: 100vw;
}

body {
  font-family: "Proxima Nova", sans-serif;
  background-color: #f0f2f5;
  font-weight: 500; /* Medium */

}

/* Si quieres aplicar Bold en ciertas partes */
h1, h2, h3, .bold-text {
  font-weight: 700; /* Bold */
}

.no-layout nav,
.no-layout header,
.no-layout footer {
  display: none;
}

/* ESTILO DE COLORES PARA LA PAGINA*/

.bg {
  background-color: #ededed;
}

.bg-nav {
  background-color: #000;
  border-bottom: 1px solid #2c3e50;
  color: white;
}
.bg-cart
{
  color: white;
  background-color: #f86d07;
}

.bg-login {
  color: white;
  background-color: #f86d07;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.bg-login:hover {
  background-color: #d15d08; /* Un tono más oscuro al pasar el mouse */
  transform: scale(1.05); /* Efecto de crecimiento ligero */
}

.bg-login:focus {
  background-color: #bf5205; /* Un tono más oscuro al enfocarse */
  outline: 2px solid #ff8c42; /* Borde resaltado para accesibilidad */
  transform: scale(1.05);
}

.bg-footer{
  background-color: #000;
  border-top: 1px solid #2c3e50;
}
.perspective {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

@keyframes scrollText {
  0% {
    transform: translateX(0); /* Inicia desde la posición original */
  }
  100% {
    transform: translateX(-100%); /* Desplaza el texto fuera de la vista */
  }
}

.animate-scrollText {
  animation: scrollText 10s linear forwards; /* La animación no es infinita, se detiene al finalizar */
}

.ql-toolbar {
  background-color: #ffff; /* Color de la barra de herramientas */
  border-radius: 8px;
}

.swiper-button-prev, .swiper-button-next {
  width: 32px;
  height: 32px;
}

@media (max-width: 640px) {
  .swiper-button-prev, .swiper-button-next {
    width: 24px;
    height: 24px;
  }
}